.textDiv button[type="submit"],
.textDiv input[type="text"]
{
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 20px;
    font-size: 13pt;
    width: 150px;
    font-weight: bold;
    }

.Button
{
        background: rgb(46,47,120);
        background: linear-gradient(180deg, rgba(46,47,120,1) 0%, rgba(67,46,123,1) 35%, rgba(98,44,129,1) 100%);
        color:white;
}

.textDiv
{
    color:rgb(46, 47, 120);
    font-size: 15pt;
    font-weight: bold;
    text-align: left;
}

.label{
    font-size: 11pt;
    text-align: left;
    color: rgb(46,47,120);
    color: linear-gradient(180deg, rgba(46,47,120,1) 0%, rgba(67,46,123,1) 35%, rgba(98,44,129,1) 100%);
}


