.BigDiv {
    height: 100%;
    width: 1300px;
    background: rgb(46,47,120);
  background: linear-gradient(180deg, rgba(46,47,120,1) 0%, rgba(67,46,123,1) 35%, rgba(98,44,129,1) 100%);  
    border-radius: 20px;
    align-content: center;
  }
  
    
  .BigDiv button {
    text-align: center;
    margin: 20px;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }
  
  div {
    text-align: center;
    margin: 25px auto;
  }

  