body{
  background-color: rgb(125, 129, 129);
}

h1{
  color:aliceblue;
  font-size: 30pt;
  font-style: bold;
  margin-bottom: 30px;
  text-align: center;
  margin: 50px auto;
  height: 70px;
  width: 1500px;
  border-bottom: 2px solid black;
  }

  #BigDiv {
text-align: center;
margin: 50px auto;

  }

  #BigDiv GroupCard{
    padding: 15px ;
    border-radius: 20px;
    margin-right: 10px;
    width: 200px;
    height: 200px;

  }

div {
    text-align: center;
    margin: 25px auto;
    }

  #App{
    background-color: rgb(167, 172, 172);
  }

  #sideButtons{
    position:absolute;
    width: 200px;
    height: 200px;
    top: 150px;
    
  }

  #addGroup, 
  #addAssignment,
  #addPoints{
    border-radius: 20px;
    font-size: 20pt;
    height: 50px;
    width: 160px;
    background-color: rgb(125, 129, 129);
    color:aliceblue;
    
  }

