
#name{
    margin-top: -20px;
    font-size: 15pt;
    font-style: bold;
    }

#points{
    margin-top: -20px;
    font-size: 70pt;
    font-style: bold;
}
#assignments{
    margin-top: -20px;
    margin-bottom: -20px;
    font-size: 15pt;
    font-style: bold;
    }